<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UserInyerfaceSuite">
	<parameter name="interests_number" value="3" />
	<test name="FillCardsTest">
		<classes>
			<class name="test.FillCardsTest" />
		</classes>
	</test>
	<test name="HideHelpSectionTest">
		<classes>
			<class name="test.HideHelpSectionTest" />
		</classes>
	</test>
	<test name="AcceptUsingCookieTest">
		<classes>
			<class name="test.AcceptUsingCookieTest" />
		</classes>
	</test>
	<parameter name="expected_timer_time" value="00:00:00" />
	<test name="TimerTest">
		<classes>
			<class name="test.TimerTest" />
		</classes>
	</test>
</suite>